<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
  </head>

  <body>
    <form method="post" action="/posts/<%= @post.id %>/delete">
      <input id="hidden" type="visible" name="_method" value="delete">
      <input type="submit" value="delete" id="delete">
</form>

</body>
</html>
