<!DOCTYPE html>
<html>
  <head>
    <title>Post</title>
  </head>

  <body>

<h1>All Posts</h1>
<% @posts.each do |post| %>
    <p>Name: <%= post.name %></p><br>
    <p>Post: <%= post.content %></p><br>
<% end %>

</body>
</html>
