<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
  </head>

  <body>
<h1>Your newly created Post is displayed here</h1>
<p>Post Name: <%= @post.name  %></p>
<p>Post Content: <%= @post.content  %></p>
<p>Post Id: <%= @post.id  %></p>
<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" id="delete">
</form>
</body>
</html>
